{{ define "main" }}
<article>
  <h1>
    {{ if eq .Site.Language.Lang "es" }}
    Últimos artículos publicados
    {{ else if eq .Site.Language.Lang "en" }}
    Last published posts
    {{ else }}
    Last published posts
    {{ end }}
  </h1>

  {{ with .Content -}}
  <div class="post-content">{{- . -}}</div>
  {{- end }}
  <ul class="posts-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
    <li class="posts-list-item">
      <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
    </li>
    {{ end }}
  </ul>

  {{ partial "pagination.html" . }}
</article>
{{ end }}
